@charset "utf-8";

body {
  color: #009966;
  background-color: #dbf0a6;
  font-family: sans-serif;
  padding: 0px 32px;
}

h1 {
  color: #009966;
  font-weight: normal;
  font-size: 140%;
}

nav {
  text-align: center;
  white-space: nowrap;
  width: 650px;
  height: 45px;
  margin: 10px auto;
  padding: 0;
}

.switch_container {
  display: inline-block;
  width: 650px;
  height: 45px;
  margin: 0;
}

.switch_content {
  display: none;
}

.switch_content.select {
  display: block;
}

ul {
  margin: 0;
}

nav li {
  list-style: none;
  display: inline-block;
  width: 140px;
  height: 40px;
  line-height: 40px;
}

nav li a.menu {
  display: inline-block;
  text-decoration: none;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #999;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
}

nav li a:hover {
  color: #fff;
  background-color: #999;
  text-decoration: none;
}

#switch {
  width: 140px;
  height: 40px;
  line-height: 40px;
}

h2 {
  color: #009933;
  border: 2px solid #ff99cc;
  padding: 10px 15px;
  margin: 0px;
  font-weight: normal;
  font-size: 125%;
}

article {
  padding: 20px 64px 20px 20px;
  color: #666666;
  background-color: #ffffff;
}

p {
  line-height: 1.5em;
}

button {
  cursor: pointer;

  border: 1px solid #999;
  border-radius: 5px;

  color: #999;
  background-color: #fff;

  text-align: center;
  box-sizing: border-box;
}

button:hover {
  color: #fff;
  background-color: #999;
}

#page-top {
  position: fixed;
  right: 44px;
  top: calc(50% - 40px);
  width: 40px;
  height: 40px;
  line-height: 40px;
}

#page-bottom {
  position: fixed;
  right: 44px;
  top: calc(50% + 40px);
  width: 40px;
  height: 40px;
  line-height: 40px;
}

