@charset "utf-8";

body {
  color: #009966;
  background-color: #dbf0a6;
  font-family: sans-serif;
  padding: 0px 32px;
}

h1 {
  color: #009966;
  font-weight: normal;
  font-size: 140%;
}

h2 {
  color: #009933;
  border: 2px solid #ff99cc;
  padding: 10px 15px;
  margin: 0px;
  font-weight: normal;
  font-size: 125%;
}

article {
  padding: 20px 64px 20px 20px;
  color: #666666;
  background-color: #ffffff;
}

p {
  line-height: 1.5em;
}

div.scroll a {
  border: 1px solid #999;
  border-radius: 5px;
  color: #999;
  background: #fff;
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div.scroll a:hover {
  color: #fff;
  background: #999;
  text-decoration: none;
}

#page-top {
  position: fixed;
  right: 44px;
  top: calc(50% - 40px);
}

#page-bottom {
  position: fixed;
  right: 44px;
  top: calc(50% + 40px);
}
