@charset "utf-8";

body {
  color: #009966;
  background-color: #dbf0a6;
  font-family: sans-serif;
  padding: 0px 32px;
}

h1 {
  color: #009966;
  font-weight: normal;
  font-size: 140%;
}

h2 {
  color: #009933;
  border: 2px solid #ff99cc;
  padding: 10px 15px;
  margin: 0px;
  font-weight: normal;
  font-size: 125%;
}

nav {
  text-align: center;
  white-space: nowrap;
}

nav ul {
  display: inline-block;
}

nav li {
  list-style: none;
  display: inline-block;
}

nav li a.menu {
  text-decoration: none;
  display: table-cell;
  width: 140px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #999;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
}

nav li a:hover {
  color: #fff;
  background: #999;
  text-decoration: none;
}

#switch {
  display: inline-block;
}

#switch a{
  text-decoration: none;
  display: table-cell;
  width: 140px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border: 0;
  border: 1px solid #999;
  border-radius: 5px;
}

#switch a:hover {
  color: #fff;
  background: #999;
  text-decoration: none;
}

article {
  padding: 20px 64px 20px 20px;
  color: #666666;
  background-color: #ffffff;
}

p {
  line-height: 1.5em;
}

button.scroll {
  cursor: pointer;

  border: 1px solid #999;
  border-radius: 5px;

  color: #999;
  background-color: #fff;

  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

button.scroll:hover {
  color: #fff;
  background-color: #999;
}

#page-top {
  position: fixed;
  right: 44px;
  top: calc(50% - 40px);
}

#page-bottom {
  position: fixed;
  right: 44px;
  top: calc(50% + 40px);
}

